@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main,
article {
  block-size: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

article {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

b,
strong {
  font-weight: bold;
}

.whoami,
.projects,
.certificates {
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.whoami::-webkit-scrollbar,
.projects::-webkit-scrollbar,
.certificates::-webkit-scrollbar {
  display: none;
}

.whoami > section,
.projects > section,
.certificates > section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}